composer.phar

# composer vendor
/vendor/

# phive's tools
/tools/

.phpcs-cache

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file

# but we don't need starter scripts to lock into packages I used 
# while setting up this skeleton project
composer.lock
